<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1></h1>
    <p>
      I would like to connect with you.
    </p>
    <p>
      Hey! Let's hang out. Match with me on <%= link_to 'Hey', @url %>.
    </p>
    <p> Have a great day!</p>
  </body>
</html>