@charset "utf-8";
/* CSS Document */
  body{
    width:100% !important;  
    overflow-x:hidden;
  }
  .redCls {
    color: red;
  }
  .container{
    width:100% !important;
    height:auto;
    overflow-x:hidden;  
    /*margin-top: -1%;*/
    margin-top: 4%;/*added on 30/4*/
    margin-bottom: 5%;
  }
  .header{
    padding: 10px;
      /* padding-bottom: 0; */
    text-align: center;
    background: #ddd;
    width:100%;
    overflow-x: hidden;
    
  }
  .footer{
    width:100%;
    padding: 10px;
    /* padding-bottom: 0; */
    text-align: center;
    background: #ddd; 
    overflow-x: hidden;
  }
  img{
    width:100%;
    height:auto;
  }
  .image{
    margin: 5px;
    border: 1px solid #ccc;
  }
  .desc{
    padding: 15px;
    text-align: center;
    font-size:24px;
    font-weight:bold;
    border:1px solid #ooo;  
  }
  .polaroid {
    width: 60%;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 5%;
    margin-left: 22%;
  }
  .left_side{
    margin-top:7%;
  }
  .left_side p{
    text-align:left;
    font-size:36px;
    font-weight:bold;
    margin-left:10%;  
  }
  .border{
    border-bottom:2px solid #000;
    margin-bottom: 1%;
  }
  .row_margin{
    margin-bottom:10%;  
  }
  .search {
    position: relative;
    height:100px;
    margin-bottom: 1%;
  }
  .search input {
    width: 100% !important;
    height: 100%;
    text-indent: 11%;
    font-size: 45px;
    color: #000;
    background: #fff;
    border: 1px solid #aaa;
  }
  .search .fa-search { 
    position: absolute;
    top: 10px;
    color: #000;
    margin-left: -45%;
    margin-top: 0.2%
  }
  .invitation{
    text-align: left;
    margin-left: 40%;
    /*margin-top: 15%*//* added on 5-5*/
  }
  .form-control{
     width: 30% !important;
  }
  .a1{
    border-bottom: 1px solid black;
    width: 50%;
    font-style: normal;
    font-size: larger;
  }
  .a1 img{
    margin-left: 84%;
    margin-bottom: 10%;
    margin-top: 10%;
  }
  .a11{
    margin-left: 15%;
    margin-top: 5%;
  }
  .b1{
    border-bottom: 1px solid black;
 }
 .b1 img{
    margin-top: 0%;
    width: 100%;
 }
 .head1 a{
    margin-left: 90%;
    font-size: larger;
 }
 .polaroid1 {
    width: 20%;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 2%;
    margin-left: 40%;
    margin-bottom: 0.5%;
  }
  .table-responsive {
    overflow-x: hidden ;
   }
  
  #sign_in img{
    width: 50%;
    margin-left: 50%;
  }
  .mess {
    margin-top: 20%;
    font-size: large;
    font-family: initial;
    text-align: center;
/*    text-align: justify;/*added on 5-5*/
*/  }
  .fb-photo{
    cursor: pointer;
  }

  .media{
    width: 65%;
  }
  .media img{
    width: 12%;
    margin-left: 20%;
    border-bottom: 1px solid black;
    float: left;
  }
  .media p, h4{
      text-align: center;
  }
  .media-body{
    padding-top: 6%;
  }
  .media-list {
    margin-top: 3%;
  }
  .tint2 {
    position: relative;
    float: left;
    margin-right: 20px;
    margin-bottom: 20px;
    cursor: pointer;
    -webkit-box-shadow: rgba(0,0,0,.2) 3px 5px 5px;
    -moz-box-shadow: rgba(0,0,0,.2) 3px 5px 5px;
    box-shadow: rgba(0,0,0,.2) 3px 5px 5px;
    margin-top: 2%;
  }
  .tint2:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(95, 185, 98, 0.5);
    -moz-transition: all .3s linear;
    -webkit-transition: all .3s linear;
    -ms-transition: all .3s linear;
    -o-transition: all .3s linear;
    transition: all .3s linear;
    height: 100%;
  }
  .tint {
    position: relative;
    float: left;
    margin-right: 20px;
    margin-bottom: 20px;
    cursor: pointer;
    -webkit-box-shadow: rgba(0,0,0,.2) 3px 5px 5px;
    -moz-box-shadow: rgba(0,0,0,.2) 3px 5px 5px;
    box-shadow: rgba(0,0,0,.2) 3px 5px 5px;
    margin-top: 2%;
  }
  
  .tint:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(95, 185, 98, 0.5);
    -moz-transition: all .3s linear;
    -webkit-transition: all .3s linear;
    -ms-transition: all .3s linear;
    -o-transition: all .3s linear;
    transition: all .3s linear;
    height: 100%;
  }
  /*for check sign start */

  .tint1:after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: url(images/check.png) no-repeat;
    -moz-transition: all .3s linear;
    -webkit-transition: all .3s linear;
    -ms-transition: all .3s linear;
    -o-transition: all .3s linear;
    transition: all .3s linear;
    height: 85.5%;
    background-size: 98% 90%;
    margin-left: 2%;
  }
  .image.polaroid.tint::before {
    height: 100%;
  }
  div#chatbox_1 {
    right: 0px !important;
  }
  .chatbox {
   /* width: 100%;
    margin-bottom: 5%;*/
  }
  .chatboxcontent {
/*    width: 100%;
    height: 680px;*/

  }
  .chatboxtextarea {
    margin-left: 2%;
    /*width: 50%;*/
    width: 96% !important;
  }
  .other{
    margin-left: 2%;
  }
  .self{
    margin-right: 2%;
  }

  /*for check sign end */
/*added on 16/4 for responsive-start*/

.col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
    float: left;
  }
  .col-sm-12 {
    width: 100%;
  }
  .col-sm-11 {
    width: 91.66666667%;
  }
  .col-sm-10 {
    width: 83.33333333%;
  }
  .col-sm-9 {
    width: 75%;
  }
  .col-sm-8 {
    width: 66.66666667%;
  }
  .col-sm-7 {
    width: 58.33333333%;
  }
  .col-sm-6 {
    width: 50%;
  }
  .col-sm-5 {
    width: 41.66666667%;
  }
  .col-sm-4 {
    width: 33.33333333%;
  }
  .col-sm-3 {
    width: 25%;
  }
  .col-sm-2 {
    width: 16.66666667%;
  }
  .col-sm-1 {
    width: 8.33333333%;
  }
  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: left;
  }
  .col-md-12 {
    width: 100%;
  }
  .col-md-11 {
    width: 91.66666667%;
  }
  .col-md-10 {
    width: 83.33333333%;
  }
  .col-md-9 {
    width: 75%;
  }
  .col-md-8 {
    width: 66.66666667%;
  }
  .col-md-7 {
    width: 58.33333333%;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-5 {
    width: 41.66666667%;
  }
  .col-md-4 {
    width: 33.33333333%;
  }
  .col-md-3 {
    width: 25%;
  }
  .col-md-2 {
    width: 16.66666667%;
  }
  .col-md-1 {
    width: 8.33333333%;
  }
  .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    float: left;
  }
  .col-lg-12 {
    width: 100%;
  }
  .col-lg-11 {
    width: 91.66666667%;
  }
  .col-lg-10 {
    width: 83.33333333%;
  }
  .col-lg-9 {
    width: 75%;
  }
  .col-lg-8 {
    width: 66.66666667%;
  }
  .col-lg-7 {
    width: 58.33333333%;
  }
  .col-lg-6 {
    width: 50%;
  }
  .col-lg-5 {
    width: 41.66666667%;
  }
  .col-lg-4 {
    width: 33.33333333%;
  }
  .col-lg-3 {
    width: 25%;
  }
  .col-lg-2 {
    width: 16.66666667%;
  }
  .col-lg-1 {
    width: 8.33333333%;
  }

  .fb img {
    width: 42% !important;
    margin-top: 22%;
    margin-left: 30% !important;
  } 

  .reset_message{
    margin-left: -41%;
    padding-top: 2%;
    font-size: 22px;
  }

  @media only screen and (min-device-width: 320px) and (max-device-width: 767px) {

  .fa-5x {
    font-size: 2.5em;
  }
  .table-responsive{
    border: none !important;
  }
  .polaroid{
    width: 135%;
    margin: 0px;
    margin-left: -14%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 15px 0 rgba(0, 0, 0, 0.19) !important;
    margin-bottom: 20%;/*added on 30/4*/
  }
  .desc {
    padding: 3px;
    text-align: center;
    font-size: 10px;
    /*min-height: 35px;*/
    min-height: 48px;/*added on 30/4*/
  }
  .search .fa-search {
    position: absolute;
    top: 10px;
    color: #000;
    margin-left: -46%;
    margin-top: 0.2%;
    width: 0px; 
  }
  .search input {
   
    text-indent: 13%;
    font-size: 20px;
  }  
  .search {
    height: 50px;
  }
  .search .fa-5x{
    font-size: 2em;
  }
  .a11 {
    margin-top: 33%;
  }
  .a1 img {
    margin-left: 5%;
    margin-bottom: 10%;
    margin-top: 0%;
  }
  .a1 td{
    width: 25%;
  }
  .media-list {
    margin-top: 3%;
    border-bottom: 1px solid #000;
    padding-bottom: 3%;
  }
  .media-body {
    padding-top: 5%;
    /* margin-left: -9% !important; */
    width: auto;
    padding-left: 10%;
    float: left;
  }
  .media {
    width: 100% !important;
  }
  .media img {
      width: 25%;
      margin-left: 0%;
      border: none; 
      float: left;
  }
  hr {
    margin-top: 0px; 
    margin-bottom: 0px;
    border: 0;
    border-top: none;
  }
  .fb-avatar-desc{
    padding-top: 5%;
    margin-bottom:0px !important;
    font-size: 12px;
  }
  .fb-avatar-name{
    font-size: 15px !important;
    padding-bottom: 3%;
  }
  .polaroid1 {
    width: 50%;
    margin-left: 25%; 
  }
  .tint:before{
    height: 74%;
  }
  #sign_in img {
    width: 150%;
    margin-left: -35%;
  }
  .col-lg-4 , .col-md-4 , .col-sm-4{

        padding-left: 6%;
    padding-right: 6%;
  }
  .chatbox {
    position: fixed;
    position: expression("absolute");
    /*width: 280px;*/
    width: 100%;
    /*height: 50%;*/
    height: 100%;/*added on 2/5*/
    /*margin-bottom: 40%;*/
    display: none;
    top: 0;/*added on 2/5*/
  }
  div#chatbox_1 {
    right: 0px !important;
  }
  .chatboxcontent{
    width: 100%;
    /*height: 83%;*//*added on 2/5*/
    padding-bottom: 50%;
  }
  .chatboxinput {
    bottom: 0;/*added on 2/5*/
    position: absolute;/*added on 2/5*/
}
  .image.polaroid.tint:before {
    height: 69%;
  }
  .chatboxtextarea{
    width: 99%;
  }
  .chatboxmessagecontent {
    width: 35%;
  }
  .self{
    margin-right: 2% !important;
  }
  .chatboxcontent li {
    display: flex !important;
  }
  .container{
    margin-top: 18% !important;/*added on 30/4*/
  }
  /*added on 2/5-start*/
  .form-control-invite{
    width: 100%;
    margin-left: -60%;
  }
  .invitation .btn-primary{
    line-height: 36% !important;
  }
  img.heyimg {
    width: 75%;
  }
  .reset_message{
    margin-left: -68%;
   /* padding-top: 15%;*//*added on 5-5*/
    font-size: 12px;/*added on 5-5*/
    text-align: justify;
  }
  .fb img {
    width: 44% !important;
    margin-top: 65%;
    margin-left: 30% !important;
  }  
  p.text-info.invitition {
    margin-left: -118%;
  }
  p.text-info.mess {
    text-align: justify;/*added on 5-5*/
  }
  /*added on 2/5-end*/
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {

  .fa-5x {
    font-size: 2.5em;
  }
  .table-responsive{
    border: none !important;
  }
  .polaroid{
    width: 100%;
    margin: 0px;
    margin-left: 0%;
    margin-top: 10%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 15px 0 rgba(0, 0, 0, 0.19) !important;
  }
  .desc {
    padding: 3px;
    text-align: center;
    font-size: 17px;
  }
  .search .fa-search {
    position: absolute;
    top: 10px;
    color: #000;
    margin-left: -46%;
    margin-top: 0.2%;
    width: 0px; 
  }
  .search input {
   
    text-indent: 9%;
    font-size: 24px;
  }  
  .search {
    height: 50px;
  }
  .search .fa-5x{
    font-size: 2em;
  }
  .a11 {
    margin-top: 27%;
    margin-left: 0px;
  }
  .a1 img {
    margin-left: 5%;
    margin-bottom: 10%;
    margin-top: 8%;
    width: 72%;
  }
  .a1 td{
    width: 25%;
  }
  .media-list {
    margin-top: 5%;
    border-bottom: 1px solid #000;
    padding-bottom: 3%;
  }
  .media-body {
    padding-top: 9%;
    /* margin-left: -9% !important; */
    width: auto;
    padding-left: 10%;
    float: left;
  }
  .media {
    width: 100% !important;
  }
  .media img {
      width: 28%;
      margin-left: 0%;
      border: none; 
      float: left;
  }
  hr {
    margin-top: 0px; 
    margin-bottom: 0px;
    border: 0;
    border-top: none;
  }
  .fb-avatar-desc{
    padding-top: 2%;
    padding-bottom: 3%;
    margin-bottom:0px !important;
    font-size: 20px;
  }
  .fb-avatar-name{
    font-size: 27px !important;
    padding-bottom: 3%;
  }
  .polaroid1 {
        width: 35%;
    margin-left: 30%;
  }
  .image.polaroid.tint:before {
    height: 87.8%;
  }
  .tint:before{
    height: 75%;
  }
  #sign_in img {
    width: 150%;
    margin-left: -50%;
  }
  .media-list .media-heading {
    font-size: 30px;
  }
  .media-list p{
    font-size: 20px;
  }
  .mess {
    margin-top: 58%;
  }
  .chatbox {
    position: fixed;
    position: expression("absolute");
    /*width: 280px;*/
    width: 100%;
    /*height: 78%;*/
    height: 89%;/*added on 2/5*/
    margin-bottom: 20%;
    display: none;
    top: 0;/* added on 2/5*/
  }
  .chatboxcontent {
    width: 100%;
    height: 100%;
  }
  div#chatbox_1 {
    right: 0px !important;
  }
  .chatboxtextarea {
    width: 50%;
  }
  .form-control-invite{
    float: left;
    width: 63%;
    margin-left: -18%;
  }
  .invitation .btn-primary{
    line-height: 38% !important;
  }
  img.heyimg {
    width: 22%;
  }
  .reset_message{
    margin-left: -68%;
    padding-top: 5%;
    margin-top: 20%;/*added on 5-5*/
    text-align: justify;/*added on 5-5*/
  }
  .fb img {
    width: 30% !important;
    margin-top: 61%;
    margin-left: 36% !important;
  } 
  p.text-info.invitition {
    margin-left: -70%;/*added on 5-5*/
    margin-top: 15%;/*added on 5-5*/
  } 
}
@media only screen and (min-device-width: 1025px) and (max-device-width: 1600px) {
  .polaroid{
    margin-top: 10%;
    width: 70%;
  }
  .table{
    margin-top: 3%;
  }
  .tint:before{
    height: 77.1%;
  }
  .fb-avatar-name{
    font-size: 22px !important;
  }
  .polaroid1{
    font-size: 19px !important;
  }
  .media-list {
    margin-top: 4%;
  }
.media {
    width: 100%;
  }
  .media img{
    margin-left: 10%;
    border: none;
  }
  .media-list p{
    font-size: 18px;
  }
  .media-heading{
    font-size: 24px;
  }
  .media-body {
    padding-top: 4%;
    width: auto;
    float: left;
    padding-left: 20%;
  }
  
  

}
@media only screen and (min-device-width: 1280px) and (max-device-width: 1441px) {
 .chatbox {
    position: fixed;
    position: expression("absolute");
    width: 100%;
    height: 99%;/*added on 2/5 */
    display: none;
    top: 0;
  }
  .chatboxcontent {
    width: 100%;
    /*height: 88%;*/
    height: 85% !important;/* addes on 29/4*/
  }
  .image.polaroid.tint:before {
    height: 81%;
  }
  div#chatbox_1 {
    right: 0px !important;
  }
  textarea#message_body {
    width: 96%;/* addes on 29/4*/
  }
  .polaroid{
    width: 50%;/*added on 2/5*/
    margin: 0px 0px 10px 0px;
    margin-top: 0%;/* added on 2/5*/
    margin-left: 25%;/* added on 2/5*/
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 15px 0 rgba(0, 0, 0, 0.19) !important;
  }
  .desc{
    font-size: 16px;/* added on 2/5 */
  }
  .fa-5x{
    font-size: 3em;/* added on 29/4*/
  }
  .media-body{
    width: 55%;/* added on 29/4*/
    padding-left: 0%;/* added on 29/4*/
  }
  .search{
    height: auto;/* added on 29/4*/
    margin-bottom: 0%;/* added on 2/5 */
    margin-top: -1%;/* added on 2/5 */
  }
  .search input{
    height: 70%;/* addes on 29/4*/
    font-size: 32px;/* addes on 29/4*/
  }
  .search .fa-search{
    top: 5%;/* addes on 29/4*/
  }
  .invitation{
    margin-top: 12%;/* addes on 29/4*/
    margin-left: 28%;/* addes on 29/4*/
  }
  .form-control-invite{
    width: 50%;
  }
  .invitation .btn-primary{
    line-height: 25% !important;
  }
  img.heyimg {
    width: 15%;
  }
  
}
@media only screen and (min-device-width: 1601px){
  .chatboxcontent{
    height: 98%
  }
  img.heyimg {
    width: 15%;
    margin-top: 1%;
  }
  .reset_message{
    /*margin-left: -72%;
    padding-top: 2%;
    font-size: 22px;*/
    margin-left: -72%;/*added on 5-5*/
    padding-top: 1%;/*added on 5-5*/
    font-size: 22px;/*added on 5-5*/
    width: 103%;/*added on 5-5*/
    text-align: justify;/*added on 5-5*/
  }
  .form-group{
    margin-top: 2%;/*added on 5-5*/
  }
  .text-info{
    font-size: 22px;/*added on 5-5*/
  }
  .invitition{
    margin-left: -70%;/*added on 5-5*/
    margin-top: 18%;/*added on 5-5*/
  }
  .form-control-invite{
    margin-left: -7%;
    width: 40%;
  }
  .invitation .btn-primary{
    line-height: 30% !important;
  }
  .fb img {
    width: 20% !important;
    margin-top: 22%;
    margin-left: 37% !important;
  }  
}
/*@media only screen and (min-device-width: 375px) and (max-device-width: 436px) {
  div#chatbox_1 {
    margin-bottom: 40%;
    height: 60%;
  }
  .chatboxcontent {
    width: 100%;
    height: 100%;
  }

}*/


/*added on 16/4 for responsive-end*/