<div class="navbar navbar-default-bottom">
  <div class="container">
      <div class="navbar-collapse collapse navbar-responsive-collapse pull-left">
      <ul class="nav navbar-nav">
        <li> <%= link_to '<span class="glyphicon glyphicon-user icon-margin">'.html_safe, root_path %></span>  </li>
        <li> <%= link_to '<span class="glyphicon glyphicon-globe icon-margin">'.html_safe, distance_path %> </li>
        <li> <span class="glyphicon glyphicon-ok icon-margin"></span>  </li>
      </ul>
    </div>
  </div>
</div>