<div class="navbar navbar-default-bottom">
  <div class="container">
      <div class="navbar-collapse collapse navbar-responsive-collapse pull-left">
      <ul class="nav navbar-nav">
        <li> <span class="glyphicon glyphicon-user icon-margin"></span>  </li>
        <li> <%= link_to '', distance_path, class: "glyphicon glyphicon-globe icon-margin" %> </li>
        <li> <span class="glyphicon glyphicon-ok icon-margin"></span>  </li>
      </ul>
    </div>
  </div>
</div>  