<div class="navbar navbar-default-bottom">
  <div class="container">
      <div class="navbar-collapse collapse navbar-responsive-collapse pull-left">
      <ul class="nav navbar-nav">
        <li> <span class="glyphicon glyphicon-user icon-margin"></span>  </li>
        <li> <span class="glyphicon glyphicon-envelope icon-margin"></span> </li>
        <li> <%= link_to '', invite_mail_path, class: "glyphicon glyphicon-envelope icon-margin" %></li>
      </ul>
    </div>
  </div>
</div>  