<%#= abort @friendsHash.inspect %>
<div class="middle">
	<div class="row">
		<div class="col-lg-12 col-md-12 col-sm-12">
		  	<% if @friendsHash %>
		  		<% cnt = 0 %>
		  		<% @friendsHash.each do |item| %>
		  			<% if cnt==3 %>
		  				</tr>
		  				<tr>
		  				<% cnt = 0 %>
		  			<% end %>
		  			<% @classphoto =  (@alreadyinvitedusers.include? item[0]) ? "fb-invited" : "fb-photo" %>
		          	<div class="col-lg-4 col-md-4 col-sm-4">
		          		<div class="image polaroid">
				        	<%= image_tag "http://graph.facebook.com/#{item[0]}/picture", :class => "float-left #{@classphoto}", :id => item[0] %>
							<div class='desc' id="fb_name_<%= item[0]%>">
								<%= item[1] %>
							</div>
						</div>								
					    <% cnt += 1 %>
				    </div>
		      	<% end %>
		    <% else %>
		    <div class="mess">
		    	<span>No friends found in your account.</span>
		    </div>
		    <% end %>
		</div>
	</div>
</div>
