<table width="100%" class="table">
  	<tbody>
	  	<tr>
	  	<% if current_user.multi_friends %>
	  		<% current_user.multi_friends.each do |item| %>
		  		<tr class="a1">
		          	<div class="row">
			      		<div class='fb-avatar-section'>
				      		<!-- <td width="33%"> -->
						        <div class="alignment "><td width="13%">
						        	<%= image_tag "http://graph.facebook.com/#{item[0]}/picture", :class => "float-left #{@classphoto}", :id => item[0] %></td><td>
										<div class='float-left fb-avatar-desc'>
										  <div class="a11">
											<div class='float-left full-width fb-avatar-name' id="fb_name_<%= item[0]%>" style="font-family: bold">
												<%= item[1] %></br>
												<%= dist(item[0]) %>&nbsp;&nbsp;<span>Miles Away</span>
                                             
											</div>
										  </div>
										<div></td>							
						        </div>
					       	<!-- </td> -->
						</div>
					</div>	
				</tr>
	      	<% end %>
	    <% else %>
	    	No friends found in your account.
	    <% end %>
	</tr>
  	</tbody>
</table>