<div class="container">
	<div class="invitation">
		<%= form_for :invite, url: invite_mail_send_path , html: {:id => 'invite_mail'},  validate: true do |f| %>
			<div class="form-group" style="width:70%;">
				<div class="field">
					<%= f.email_field :email, :placeholder => "Friend Email", required: :require, :size => 10, :id => 'valid', :class => 'form-control', :style => "float:left;"  %>
					<%= f.submit "Send", class: "btn btn-lg btn-primary", :style => "float:left; line-height:0.7; margin-left:5px;" %>
				</div>
			</div>
			<div class="actions">
				&nbsp;
			</div>
		<% end %>
	</div>
</div>