<div class="container" style="margin-top: 6% !important;">
  <div class="row">
    <div class="col-xs-12">
      <div class="table-responsive" id="friendslist">
        <% if current_user %>
          <%= render 'friendslist' %>
        <% end %>
      </div><!--end of .table-responsive-->
    </div>
  </div>
</div>

<script>
$( document ).ready(function() {
	// <!-- Form submit after write more than 2 char or none -->
    $('#searchFriend').keyup(function(e) {
    	var existingString = $("#searchFriend").val();
    	if (existingString.length < 2 && existingString.length>0) return;
	    $('#searchFriend').submit();
	});
});
</script>
