<%#= form_tag("/searchfriends", method: 'get', :remote => true) do %>
     <!--  <input type="search" class="form-control search-margin-top" name="searchFriend" id="searchFriend" placeholder="Search" /> -->
    <%# end %>
<div class="" style="margin-top: 2% !important;">
  <div class="row">
    <div class="col-xs-12">
      <div class="table-responsive" id="friendslist">
        <% if current_user %>
          <%= render 'friendslist' %>
        <% end %>
      </div><!--end of .table-responsive-->
    </div>
  </div>
</div>
<% if current_user %>
  <script type="text/javascript">
    $(function(){
      // var x = document.getElementById("demo");
      getLocation();
      function getLocation() {
        
          if (navigator.geolocation) {
              navigator.geolocation.getCurrentPosition(showPosition);
          } else { 
              x.innerHTML = "Geolocation is not supported by this browser.";
          }
        }

      function showPosition(position) {
          //x.innerHTML = "Latitude: " + position.coords.latitude + 
         //"<br>Longitude: " + position.coords.longitude;
          var data = { 'lat': position.coords.latitude, 'lon': position.coords.longitude }; 
          $.ajax({
              type: 'GET', 
              url: '/update_location',
              data: data
          });
        }

      $(document).on('click', '.tint1', function(e){ 
        if($(e.target).is('.tint1')){ 
          var cid = $(this).attr("data-id");
          $(this).find(".conversation").click();
          // $(".conversation"+cid).click();
        }
    });

    });
  </script>
<% end %>