<%#= form_tag("/searchfriends", method: 'get', :remote => true) do %>
     <!--  <input type="search" class="form-control search-margin-top" name="searchFriend" id="searchFriend" placeholder="Search" /> -->
    <%# end %>
<div class="" style="margin-top: 2% !important;">
  <div class="row">
    <div class="col-xs-12">
      <div class="table-responsive" id="friendslist">
        <% if current_user %>
          <%= render 'friendslist' %>
        <% end %>
      </div><!--end of .table-responsive-->
    </div>
  </div>
</div>
