<h2>Friend List</h2>
<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="table-responsive">
        <table >
          <tbody>
          	<% @fb_friends.in_groups_of(3, false).each do |fb_friend| %>
	            <tr>
	              <div class="row">
						      <div class='float-left fb-avatar-section'>
						      	<% fb_friend.each do |item| %>
						      		<td>
								        <div class="item">
								          <%= image_tag "http://graph.facebook.com/#{item.identifier}/picture", :class => 'float-left' %>
													<div class='float-left fb-avatar-desc'>
														<div class='float-left full-width fb-avatar-name' id="fb_name_<%= item.identifier%>">
															<%= item.raw_attributes['name'] %>
														</div>
													<div>
								        </div>
							       	</td>
							      <% end %>
									</div>
								</div>	
	            </tr>
	          <% end %>
          </tbody>
        </table>
      </div><!--end of .table-responsive-->
    </div>
  </div>
</div>

