<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="table-responsive">
        <% if current_user %>
          <%= render 'friendslist' %>
        <% end %>
      </div><!--end of .table-responsive-->
    </div>
  </div>
</div>

<script>
$( document ).ready(function() {

  getLocation();
  function getLocation() {
  	
      if (navigator.geolocation) {
          navigator.geolocation.getCurrentPosition(showPosition);
      } else { 
          x.innerHTML = "Geolocation is not supported by this browser.";
      }
    }

  function showPosition(position) {
  	  //x.innerHTML = "Latitude: " + position.coords.latitude + 
     //"<br>Longitude: " + position.coords.longitude;
      var data = { 'lat': position.coords.latitude, 'lon': position.coords.longitude }; 
      $.ajax({
          type: 'GET', 
          url: '/update_location',
          data: data
      });
    }
});
</script>
