<!-- <h2>Friend List</h2> -->
<!-- <body onload="getLocation()">
 --> <p id="demo"></p>
<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="table-responsive">
        <table width="100%" class="table">
          <tbody>
          	<%# abort @fb_friends.inspect %>
          	<% if @fb_friends %>
          		<% @fb_friends.in_groups_of(3, false).each_with_index do |fb_friend, index| %>
	            <tr>
	              <div class="row">
			      	<div class='fb-avatar-section'>
			      		<% fb_friend.each do |item| %>
			      			<% #if !@invitedusers.include? item.raw_attributes['id'] %>
					      		<td width="33%">
							        <div class="alignment fb-photo">
							        	<%= image_tag "http://graph.facebook.com/#{item.identifier}/picture", :class => 'float-left fbphoto', :id => item.raw_attributes['id'] %>
											<div class='float-left fb-avatar-desc'>
												<div class='float-left full-width fb-avatar-name' id="fb_name_<%= item.identifier%>">
													<%= item.raw_attributes['name'] %>
												</div>
											<div>							
							        </div>
						       	</td>
						    <% # => end %>
				      	<% end %>
						</div>
					</div>	
	            </tr>
	          <% end %>
	        <% else %>
	        	No friends found in your account.
	        <% end %>
          </tbody>
        </table>
      </div><!--end of .table-responsive-->
    </div>
  </div>
</div>
<!-- </body>
 -->
<script>
// var x = document.getElementById("demo");

// function getLocation() {
//     if (navigator.geolocation) {
//         navigator.geolocation.getCurrentPosition(showPosition);
//     } else { 
//         x.innerHTML = "Geolocation is not supported by this browser.";
//     }
// }

// function showPosition(position) {
//     x.innerHTML = "Latitude: " + position.coords.latitude + 
//     "<br>Longitude: " + position.coords.longitude;	
// }
$( document ).ready(function() {

  var x = document.getElementById("demo");
  getLocation();
  function getLocation() {
  	
      if (navigator.geolocation) {
          navigator.geolocation.getCurrentPosition(showPosition);
      } else { 
          x.innerHTML = "Geolocation is not supported by this browser.";
      }
    }

  function showPosition(position) {
  	  //x.innerHTML = "Latitude: " + position.coords.latitude + 
     //"<br>Longitude: " + position.coords.longitude;
      var data = { 'lat': position.coords.latitude, 'lon': position.coords.longitude }; 
      $.ajax({
          type: 'GET', 
          url: '/update_location',
          data: data
      });
    }
});
</script>

