<%= form_tag("/searchfriends", method: 'get', :remote => true) do %>
      <input type="search" class="form-control search-margin-top" name="searchFriend" id="searchFriend" placeholder="Search" />
    <% end %>
<!-- <h2>Friend List</h2> -->
<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="table-responsive" id="friendslist">
        <%= render 'friendslist' %>
      </div><!--end of .table-responsive-->
    </div>
  </div>
</div>
